#welcome-message {
    margin: 1 0 1 2;
    padding: 0;
    border-bottom: wide $primary;
    width: auto;
}

.accent {
    background: $panel;            /* Textual variable */
}

Screen{
    align: center middle;
}

Button{
    padding: 0 2 0 2;
}